/* Dark & bold arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.726);           /* arrow color */
  font-weight: bolder;
  transform: scale(0.8); /* make arrows bigger */
  border-radius: 500px;
}

