.slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 20px;
  transform: scale(0.9);
  transition: transform 0.4s ease;
}

.swiper-slide-active {
  transform: scale(1.05);
}

Swiper{
    
}