RESET
* {
  /* box-sizing: border-box; */
  font-family: "Inter", "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: radial-gradient(circle at top, #1b2735, #090a0f);
  /* overflow: hidden; */
}

/* CLOUD BACKGROUND */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background:
    radial-gradient(circle at 30% 30%, #2c536455, transparent 40%),
    radial-gradient(circle at 70% 60%, #203a4355, transparent 45%);
  filter: blur(80px);
  z-index: -2;
}

/* CENTER */
.login-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ELECTRIC BORDER */
.electric-border {
  padding: 3px;
  border-radius: 20px;
  background: conic-gradient(#e1a305, #e1a305, #e1a305);
  animation: spin 4s linear infinite, pulse 2s ease-in-out infinite;
}

@keyframes spin {
  /* 100% {
    transform: rotate(360deg);
  } */
}

@keyframes pulse {
  0% { box-shadow: 0 0 10px #e1a305; }
  50% { box-shadow: 0 0 30px #e1a305; }
  100% { box-shadow: 0 0 10px #e1a305; }
}

/* CARD */
.login-card {
  width: 360px;
  padding: 30px;
  border-radius: 18px;
  background: rgba(10, 15, 25, 0.9);
  box-shadow: 0 0 40px rgba(0, 234, 255, 0.2);
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #fff;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

/* INPUTS */
.login-card input {
  background: transparent;
  border: 1px solid #2c5364;
  padding: 12px;
  border-radius: 10px;
  color: #fff;
  transition: 0.3s;
}

.login-card input::placeholder {
  color: #aaa;
}

.login-card input:focus {
  outline: none;
  border-color: #e1a305;
  box-shadow: 0 0 15px #e1a305;
  transform: scale(1.02);
}

/* BUTTON */
.login-card button {
  margin-top: 10px;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background: linear-gradient(135deg, #e1a305, #e1a305);
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 25px #e1a305;
}

.login-card button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 40px #e1a305;
}

/* TEXT */
.login-card span {
  color: #b48204;
  cursor: pointer;
}

.login-card p {
  text-align: center;
  font-size: 14px;
}
