/* Base (Desktop first) */

/* .container{
 width: 100%;
 height: 110%;
} */

.DataCard {
  padding-left: 50px;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.DataInfo {
  margin-top: 10%;
  margin-left: 5%;
  max-width: 600px;
}

h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

p {
  margin-bottom: 10px;
  font-size: 1rem;
}

.bookingbtn {
  margin-top: 30px;
  background-color: rgb(165, 34, 34);
}

.ratingBox {
  width: 380px;
  height: 56px;
  background-color: #030712;
  border: 2px solid #fbbf24;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 16px;
}

.ratingLeft {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fbbf24;
}

.ratingLeft .votes {
  font-size: 0.9rem;
  opacity: 0.8;
}

.rating-btn {
  width: 100px;
  height: 40px;

  background-color: silver;
  color: black;
text-align: center;
  border-radius: 60px;
  font-weight: 3600;
  font-size: 15px;
  padding-bottom: 0px;

  transition: all 0.2s ease;
}

.rating-btn:hover {
  background-color: #fbbf24;
  color: #030712;
}


.formatLang {
  background-color: rgba(255, 255, 255, 0.29);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 6px;
}
@media (max-width: 1024px) {
  .DataCard {
    padding-left: 30px;
    gap: 1.5rem;
  }

  .DataInfo {
    margin-top: 5%;
    margin-left: 0;
  }

  .rating-btn {
    margin-bottom: 12px;
   
  }
}
@media (max-width: 768px) {
  .DataCard {
    flex-direction: column;
    padding-left: 0;
    align-items: center;
    text-align: center;
  }

  .DataInfo {
    margin-top: 20px;
    margin-left: 0;
    width: 100%;
  }

  h2 {
    font-size: 1.6rem;
  }

  p {
    font-size: 0.95rem;
  }

  .rating-btn {
    margin-left: 0;
    margin-top: 10px;
  }

  .bookingbtn {
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 1.4rem;
  }

  .ratingText {
    font-size: 1rem;
  }
    .ratingBox {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
  }

  .rating-btn {
    width: 100%;
  }

  .formatLang {
    font-size: 0.95rem;
  }
}
