.seat-grid {
  display: grid;
  grid-template-columns: repeat(10, 60px);
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 15%;
}

.seat {
  height: 50px;
  border-radius: 6px;
  border: 1px solid #444;
  cursor: pointer;
  background-color: white;
}

.seat.selected {
  background-color: #4caf50;
  color: white;
}

.seat.booked {
  background-color: #9e9e9e;
  cursor: not-allowed;
}

.book-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(206, 68, 68);
  color: white;
  margin-left: 50%;
  cursor: pointer;
}
.book-btn:hover{
     background-color:rgba(206, 83, 83, 0.674); 
  color: rgb(255, 255, 255);
  
}
